*copy.*
*.d
*.fifo
*.kate_swp
*.kdev4
*.o
*.out
*.pdf
*.spec
*.swp
*swp
data
dataParsed
jnoise
dcx_dump
**/build
**/built*
**/dist
**/dist.bak
**/Jnoise
**/.kdev4
**/__pycache__
**/recycling
**/ReferenceFiles
**/Saved_binary
